@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;800;900&display=swap");

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --rb-heading3: Inter;
  --font-sf-pro-text: "SF Pro Text";

  /* font sizes */
  --rb-footnote-size: 12px;
  --font-size-sm: 15px;
  --rb-body-bold-size: 16px;
  --rb-heading3-size: 20px;
  --rb-heading1-size: 30px;

  /* Colors */
  --bg: #f8f8f8;
  --color-gray-100: #eee;
  --color-gray-200: #eee;
  --color-gray-300: #565656;
  
  --color-gray-500: rgba(0, 0, 0, 0.6);
  --color-gray-600: rgba(0, 0, 0, 0.5);
  --color-gray-700: rgba(0, 0, 0, 0.8);
  --grey-900: #020202;
  --black: #000;
  --color-white: #fff;

  /* Gaps */
  --gap-0: 0px;
  --gap-xs: 8px;
  --gap-sm: 16px;
  --gap-md: 24px;
  --gap-lg: 36px;
  --gap-xl: 48px;
  --gap-2xl: 280px;

  /* Paddings */
  --padding-3xs: 8px;
  --padding-2xs: 10px;
  --padding-xs: 16px;
  --padding-sm: 24px;
  --padding-md: 32px;
  --padding-lg: 40px;
  --padding-xl: 48px;
  --padding-2xl: 58px;
  --padding-3xl: 72px;

  /* border radiuses */
  --br-sm: 5px;
  --br-md: 20px;
  --br-lg: 40px;
}