.untitledArtwork81 {
  position: absolute;
  top: 474.54px;
  left: 42.92px;
  width: 83.15px;
  height: 74.92px;
  object-fit: cover;
}
.footer,
.homeChild {
  position: absolute;
  left: 0;
  width: 360px;
}
.homeChild {
  top: 422px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.04), transparent);
  height: 117px;
}
.footer {
  top: 424px;
  height: 435px;
}
.div {
  position: relative;
  font-weight: 900;
  display: inline-block;
}
.frameWrapper,
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.frameWrapper {
  position: absolute;
  top: 2px;
  left: 0;
  padding: var(--padding-xl) 46.5px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-end;
}
.groupChild {
  position: absolute;
  top: 0;
  left: 126px;
  width: 162px;
  height: 159px;
  opacity: 0.04;
}
.groupItem {
  position: absolute;
  top: 178px;
  left: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.04), transparent);
  width: 360px;
  height: 126px;
}
.frameParent,
.headerChild {
  position: absolute;
  top: 244px;
  left: 0;
  width: 360px;
  height: 178px;
}
.headerChild {
  top: 0;
  background-color: var(--bg);
  height: 112px;
}
.icroundArrowBackIosIcon {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
}
.icroundArrowBackIosParent {
  position: absolute;
  top: 0;
  left: 0;
  height: 112px;
  display: none;
  flex-direction: row;
  padding: var(--padding-2xl) var(--padding-xs) var(--padding-md);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-2xl);
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 360px;
  height: 76px;
}
.rChild {
  position: relative;
  width: 45px;
  height: 39px;
  flex-shrink: 0;
}
.r,
.searchBar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.r {
  position: absolute;
  top: 22px;
  left: 16px;
  height: 40px;
  align-items: center;
}
.searchBar {
  border: 2px solid var(--black);
  border-radius: 60px;
  box-shadow: -4px -4px 8px rgba(255, 255, 255, 0.8),
    4px 4px 15px rgba(0, 0, 0, 0.04);
  box-sizing: border-box;
  width: 304px;
  padding: var(--padding-sm);
  align-items: flex-start;
  font-size: var(--rb-heading3-size);
}
.home,
.searchBar,
.searchBarWrapper {
  background-color: var(--bg);
}
.transparentButton {
  position: absolute;
  right: 0px;
  top: 41%;
  border: none;
  background: none;
  width: 0px;
}

.searchIcon {    
  display: none;  
  position: absolute;
  top: 100%;
  right: 40px;
  margin-top: -10px;
  flex-wrap: nowrap;
  color: black;
}

.searchBarWrapper {
  position: absolute;
  top: 76px;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: var(--padding-sm) 30px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.home {
  position: relative;
  width: 100%;
  height: 942px;
  overflow: hidden;
  text-align: center;
  font-size: var(--rb-heading1-size);
  color: var(--black);
  font-family: var(--rb-body-bold1);
}
.narrowScreen {  
  position: relative;
  margin: auto;
  width: 360px;  
}

